#nav center{
list-style: none;
float: left;
}

#body{
width: 600px
float: left;
}



#block1{
margin-right: 20px;
background-color: yellow;
padding: 30px;
border: 2px solid black;
width: 180px;
height: 120px;
}
#first-column{
margin-right: 20px;
padding: 30px;
width: 280px;
}
#block2{
background-color: red;
padding: 30px;
border: 2px solid black;
width: 180px;
height: 120px
}
#main-column {
width: 280px;
padding: 30px;             
}
#block3{
background-color: green;
padding: 30px;
border: 2px solid black;
width: 180px;
height: 120px;
}
#third-column{
width: 280px;
padding: 30px;
}
#block4{
margin-right: 20px;
background-color: purple;
padding: 30px;
border: 2px solid black;
width: 180px;
height: 120px;
}
#block5{
margin-right: 20px;
background-color: blue;
padding: 30px;
border: 2px solid black;
width: 180px;
height: 120px;
}
#footer{
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.page {
	margin: 0 auto;
	width: 90%;
}

.cf:before,
.cf:after {
  content: " "; 
  display: table;
}

.cf:after {
  clear: both;
}

.navigation {
	margin: 0 auto;
	padding: 0;
	max-width: 390px;
}

.navigation center{
	float: left;
}

.navigation center a {
	padding: 10px;
}

.centertext {
	text-align: center;
}

.first {
	width: 33%;
	float: left;
}

.part {
	width: 50%;
	float: left;
}

ul.navigation li{
	display: inline;
}

div.welcome {
	background-color: #000;
	color: #fff;
}
